@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  select:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
  }
}

@layer components {
  .chainLogo {
    @apply h-[38px] pointer-events-none;
  }

  .gasFees {
    @apply w-16 mx-0.5 text-xs text-center;
  }

  .sectionMargin {
    @apply px-2.5 xs:px-4 lg:px-32 py-12 md:py-16;
  }

  .heading {
    @apply font-extrabold text-4xl sm:text-5xl;
  }

  .body1 {
    @apply mt-4 mb-4 md:mb-8 text-xl text-center;
  }

  .link {
    @apply cursor-pointer text-blue-500 xs:hover:underline active:underline;
  }

  .learnContainer {
    @apply py-4 border-b-2 border-gray-300;
  }

  .learnIcon {
    @apply text-base rounded-full bg-purple text-white p-2 mr-3;
  }

  .learnLessonWord {
    @apply text-2xl font-bold leading-none;
  }

  .learnLessonTitle {
    @apply mt-1 text-base leading-none;
  }

  .learnLearnWord {
    @apply cursor-pointer text-blue-500 font-bold whitespace-nowrap;
  }

  .learnChip {
    @apply text-sm xs:text-base leading-tight xs:leading-tight px-4 py-2.5 rounded-md bg-white text-gray-600 border;
  }

  .whyCard {
    @apply relative w-[310px] md:w-[286px] h-[320px] py-3 px-3 md:px-5 text-lg leading-snug bg-white rounded-xl text-gray-600 shadow-[0px_2px_4px_2px_rgba(128,128,128,0.3)] sm:hover:shadow-[0px_2px_12px_8px_rgba(128,128,128,0.4)] ease-in transition-all duration-200;
  }

  .whyImage {
    @apply absolute bottom-4;
  }

  .customerChip {
    @apply w-full text-lg leading-snug;
  }

  .modalContainer {
    @apply flex flex-col pb-8 sm:pb-4 bg-white w-[95%] sm:w-[560px] md:w-[650px] h-[83%] rounded-xl border border-gray-500 fixed inset-1/2 -translate-y-[52%] sm:-translate-y-[50%] -translate-x-1/2 z-[90];
  }

  .modalHeaderContainer {
    @apply flex justify-between items-center pt-3 pb-2 border-b-2 mx-2 sm:mx-3 md:mx-4 lg:mx-5;
  }

  .modalHeaderText {
    @apply text-2xl leading-tight sm:text-2xl sm:ml-2 font-bold w-full text-center;
  }

  .modalContentContainer {
    @apply mt-2 sm:mt-4 sm:mx-4 text-lg leading-snug md:text-base md:leading-snug px-2 sm:px-3 md:px-4 lg:px-5;
  }

  .modalNumber {
    @apply mr-2 md:mr-3;
  }

  .modalCloseButton {
    @apply text-red-500 font-bold px-3 py-1.5 text-lg rounded-md transition-all duration-300 hover:bg-gray-300;
  }

  .modalBlackout {
    @apply opacity-70 fixed inset-0 z-10 bg-black;
  }

  .savingsCountry {
    @apply mt-3 text-gray-600 font-bold text-base leading-none;
  }

  .savingsSavings {
    @apply mt-3 text-green-600 font-bold text-base leading-none;
  }

  .savingsConversion {
    @apply leading-tight text-[10px] text-gray-950;
  }

  .advantageHeader {
    @apply font-bold text-lg sm:text-base;
  }

  .advantageLearnWord {
    @apply text-blue-300 lg:hover:text-blue-500 active:text-blue-500 cursor-pointer font-normal ml-2 whitespace-nowrap text-base sm:text-sm;
  }

  .advantageBody {
    @apply leading-tight text-lg sm:text-base text-gray-300 font-normal;
  }

  .overviewNumber {
    @apply w-[44px] h-[44px] lg:w-[40px] lg:h-[40px] text-2xl lg:text-xl font-bold flex justify-center items-center flex-none rounded-full bg-blue-700 text-white;
  }

  .overviewStepTitle {
    @apply ml-2 text-2xl lg:text-lg font-bold leading-none lg:leading-none;
  }

  .overviewStepBody {
    @apply text-lg leading-snug lg:text-sm lg:leading-tight space-y-2 lg:space-y-1;
  }

  .labelfont {
    @apply mt-4 text-lg xs:text-sm font-bold leading-tight;
  }

  .inputfont {
    @apply mt-0.5 text-lg xs:text-base text-gray-700 px-1.5 h-[40px] xs:h-[36px] border border-gray-300 rounded-md outline-gray-300 lg:hover:border-blue-400 focus:outline-blue-500 transition-[outline-color] duration-[400ms];
  }

  .inputfontsmall {
    @apply mt-0.5 xs:mt-0 text-xs xs:text-sm md:text-xs text-gray-700 px-1 h-[40px] xs:h-[36px] border border-gray-300 rounded-md outline-gray-300 lg:hover:border-blue-400 focus:outline-blue-500 transition-[outline-color] duration-[400ms];
  }

  .loginbutton {
    @apply h-[60px] xs:h-[48px] bg-blue-500 text-2xl xs:text-lg font-bold text-white rounded-lg lg:hover:bg-blue-600;
  }

  .logininputfont {
    @apply w-full text-base xs:text-sm border py-1 px-2 border-gray-400 rounded-lg outline-gray-300 xs:hover:bg-gray-100 focus:outline-blue-500 focus:bg-white transition-[outline-color] duration-[400ms];
  }

  .loginlabelfont {
    @apply text-base xs:text-sm;
  }

  .checkboxMobile {
    @apply w-6 h-6 xs:w-4 xs:h-4;
  }

  /* ----UNUSED---- */
  .startHeader {
    @apply w-[calc(100%-55px)] xs:w-[250px] flex-none sm:w-auto sm:flex text-2xl leading-tight font-bold;
  }

  .startStepChip {
    @apply text-lg sm:text-2xl px-3 py-0.5 mr-2 md:mr-3 font-bold text-white bg-orange-500 rounded-md;
  }

  .startStart {
    @apply sm:ml-4 md:ml-8 text-lg bg-blue-500 hover:bg-blue-700 cursor-pointer rounded-md font-bold text-white px-4 py-2;
  }

  .startTime {
    @apply absolute md:static md:ml-1 left-[3px] sm:left-[20px] text-center md:text-start w-[68px] bottom-[-15px] text-sm leading-none md:text-base md:leading-none;
  }

  .startStartNow {
    @apply bg-blue-500 hover:bg-blue-700 py-1.5 px-3 rounded-md text-white font-bold cursor-pointer;
  }

  .gradientButton {
    @apply text-white bg-gradient-to-l from-blue-700 from-20% via-pink-500 to-yellow-300 to-100% rounded-3xl hover:text-blue-400 animate-textTwo;
  }

  .gradientButtonSmall {
    @apply text-xs md:text-sm text-white bg-gradient-to-l from-blue-700 from-20% via-pink-500 to-yellow-300 to-100% rounded-lg px-2 py-0 hover:text-black animate-textTwo;
  }

  .cashoutContainer {
    @apply min-h-[180px] flex flex-col justify-between px-6 py-4 rounded-xl bg-white border border-gray-400;
  }

  .appSettingsForm {
    @apply mt-2 flex-none flex flex-col px-2 xs:px-4 w-full xs:w-[420px] md:w-[356px] lg:w-[360px] bg-white border border-gray-500 rounded-xl;
  }

  .appInstructionsBody {
    @apply text-lg xs:text-sm leading-tight xs:leading-snug border border-gray-300 rounded-xl p-4 text-gray-600 bg-white;
  }

  .appButton {
    @apply h-[56px] xs:h-[44px] bg-blue-500 lg:hover:bg-blue-600 active:bg-blue-300 text-white font-bold rounded-full text-lg;
  }
}

@layer utilities {
  .thinScroll::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
  .thinScroll::-webkit-scrollbar {
    width: 9px;
  }
  .thinScroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
