@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding: 0px 28px 0px 4px;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 330 330'><path d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/></svg>");
    background-repeat: no-repeat;
    background-position: center right 8px;
    background-size: 12px; */
  }
}

@layer components {
  .textXs {
    @apply text-xs portrait:sm:text-sm landscape:lg:text-sm portrait:lg:text-base landscape:xl:text-base;
  }

  .textSm {
    @apply text-sm portrait:sm:text-base landscape:lg:text-base;
  }

  .textBase {
    @apply text-base portrait:sm:text-lg landscape:lg:text-lg portrait:lg:text-xl landscape:xl:text-xl;
  }

  .textLg {
    @apply text-lg portrait:sm:text-xl landscape:lg:text-xl portrait:lg:text-2xl landscape:xl:text-2xl;
  }

  .textXl {
    @apply text-xl portrait:sm:text-2xl landscape:lg:text-2xl portrait:lg:text-3xl landscape:xl:text-3xl;
  }

  .text2xl {
    @apply text-2xl portrait:sm:text-3xl landscape:lg:text-3xl;
  }

  .text3xl {
    @apply text-3xl portrait:sm:text-4xl landscape:lg:text-4xl portrait:lg:text-5xl landscape:xl:text-5xl;
  }

  .text4xl {
    @apply text-4xl portrait:sm:text-5xl landscape:lg:text-5xl portrait:lg:text-5xl landscape:xl:text-5xl;
  }

  .textSm2 {
    @apply text-sm portrait:sm:text-lg landscape:lg:text-lg portrait:lg:text-xl landscape:xl:text-xl;
  }

  .textBase2 {
    @apply text-base portrait:sm:text-xl landscape:lg:text-xl portrait:lg:text-2xl landscape:xl:text-2xl;
  }

  .textLg2 {
    @apply text-lg portrait:sm:text-2xl landscape:lg:text-2xl;
  }

  .textXl2 {
    @apply text-xl portrait:sm:text-3xl landscape:lg:text-3xl;
  }

  .text2xl2 {
    @apply text-2xl portrait:sm:text-4xl landscape:lg:text-4xl;
  }

  .chainLogo {
    @apply h-[38px] pointer-events-none;
  }

  .gasFees {
    @apply w-16 mx-0.5 text-xs text-center;
  }

  .sectionMargin {
    @apply px-2.5 xs:px-4 lg:px-32 py-12 md:py-16;
  }

  .heading {
    @apply font-extrabold text-4xl sm:text-5xl;
  }

  .body1 {
    @apply mt-4 mb-4 md:mb-8 text-xl text-center;
  }

  .link {
    @apply cursor-pointer text-blue-500 xs:hover:underline active:underline;
  }

  .tooltip {
    @apply invisible group-hover:visible absolute px-3 py-2 text-base portrait:sm:text-xl landscape:lg:text-xl leading-snug font-normal bg-gray-100 border border-blue-500 rounded-lg z-[1];
  }

  .learnContainer {
    @apply py-4 border-b-2 border-gray-300;
  }

  .learnIcon {
    @apply text-base rounded-full bg-purple text-white p-2 mr-3;
  }

  .learnLessonWord {
    @apply text-2xl font-bold leading-none;
  }

  .learnLessonTitle {
    @apply mt-1 text-base leading-none;
  }

  .learnLearnWord {
    @apply cursor-pointer text-blue-500 font-bold whitespace-nowrap;
  }

  .learnChip {
    @apply text-sm xs:text-base leading-tight xs:leading-tight px-4 py-2.5 rounded-md bg-white text-gray-600 border;
  }

  .whyCard {
    @apply relative w-[310px] md:w-[286px] h-[320px] py-3 px-3 md:px-5 text-lg leading-snug bg-white rounded-xl text-gray-600 shadow-[0px_2px_4px_2px_rgba(128,128,128,0.3)] sm:hover:shadow-[0px_2px_12px_8px_rgba(128,128,128,0.4)] ease-in transition-all duration-200;
  }

  .whyImage {
    @apply absolute bottom-4;
  }

  .customerChip {
    @apply w-full text-lg leading-snug;
  }

  .modalContainer {
    @apply flex flex-col pb-8 sm:pb-4 bg-white w-[95%] sm:w-[560px] md:w-[650px] h-[83%] rounded-3xl border border-gray-500 fixed inset-1/2 -translate-y-[52%] sm:-translate-y-[50%] -translate-x-1/2 z-[90];
  }

  .modalHeaderContainer {
    @apply flex justify-between items-center pt-3 pb-2 border-b-2 mx-2 sm:mx-3 md:mx-4 lg:mx-5;
  }

  .modalHeaderText {
    @apply text-2xl leading-tight sm:text-2xl sm:ml-2 font-bold w-full text-center;
  }

  .modalContentContainer {
    @apply mt-2 sm:mt-4 sm:mx-4 text-lg leading-snug md:text-base md:leading-snug px-2 sm:px-3 md:px-4 lg:px-5;
  }

  .modalNumber {
    @apply mr-2 md:mr-3;
  }

  .modalCloseButton {
    @apply text-red-500 font-bold px-3 py-1.5 text-lg rounded-md transition-all duration-300 hover:bg-gray-300;
  }

  .modalBlackout {
    @apply opacity-70 fixed inset-0 z-10 bg-black;
  }

  .savingsCountry {
    @apply mt-3 text-gray-600 font-bold text-base leading-none;
  }

  .savingsSavings {
    @apply mt-3 text-green-600 font-bold text-base leading-none;
  }

  .savingsConversion {
    @apply leading-tight text-[10px] text-gray-950;
  }

  .advantageHeader {
    @apply font-bold text-lg sm:text-base;
  }

  .advantageLearnWord {
    @apply text-blue-300 lg:hover:text-blue-500 active:text-blue-500 cursor-pointer font-normal ml-2 whitespace-nowrap text-base sm:text-sm;
  }

  .advantageBody {
    @apply leading-tight text-lg sm:text-base text-gray-300 font-normal;
  }

  .overviewNumber {
    @apply w-[44px] h-[44px] lg:w-[40px] lg:h-[40px] text-2xl lg:text-xl font-bold flex justify-center items-center flex-none rounded-full bg-blue-700 text-white;
  }

  .overviewStepTitle {
    @apply ml-2 text-2xl lg:text-lg font-bold leading-none lg:leading-none;
  }

  .overviewStepBody {
    @apply text-lg leading-snug lg:text-sm lg:leading-tight space-y-2 lg:space-y-1;
  }

  .fieldContainer {
    @apply w-full h-[64px] portrait:sm:h-[68px] landscape:lg:h-[68px] portrait:lg:h-[90px] landscape:xl:h-[90px] textBase2 font-medium py-1 flex items-center justify-between border-t;
  }

  .settingsLabelFont {
    @apply flex-none h-full flex items-center text-gray-400 tracking-tight mr-3;
  }

  .settingsInputFont {
    @apply w-full max-w-[400px] landscape:lg:max-w-[400px] h-full px-3 text-end tracking-tight rounded-md outline-gray-300 focus:outline-blue-500 transition-[outline-color] duration-[400ms] placeholder:font-normal placeholder:italic placeholder:pr-[2px] focus:placeholder:text-transparent;
  }

  .settingsSelectFont {
    @apply h-full px-3 textBase2 text-end bg-white rounded-md outline-transparent [text-align-last:right];
  }

  .settingsInfo {
    @apply ml-3 text-sm portrait:sm:text-lg landscape:lg:text-lg portrait:sm:pb-[1px] landscape:lg:pb-[1px] text-gray-300;
  }

  .inputOutline {
    @apply border border-gray-500 rounded-[4px] outline-gray-300 focus:outline-blue-500 transition-[outline-color] duration-[400ms];
  }

  .loginInputFont {
    @apply w-full font-medium px-1.5 py-2 xs:py-3 border border-gray-500 rounded-md outline-gray-300 focus:outline-blue-500 transition-[outline-color] duration-[400ms];
  }

  .checkboxMobile {
    @apply w-6 h-6 xs:w-4 xs:h-4;
  }

  .modal {
    @apply w-[330px] portrait:sm:w-[420px] landscape:lg:w-[420px] min-h-[330px] py-10 portrait:sm:py-16 landscape:lg:py-16 space-y-10 portrait:sm:space-y-16 landscape:lg:space-y-16 px-6 portrait:sm:px-10 landscape:lg:px-10 text-xl portrait:sm:text-2xl landscape:lg:text-2xl leading-relaxed portrait:sm:leading-relaxed landscape:lg:leading-relaxed text-center flex flex-col items-center rounded-xl bg-white fixed top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] z-[90];
  }

  .modalBlackout {
    @apply opacity-60 fixed inset-0 z-10 bg-black;
  }

  .modalButtonBlue {
    @apply w-full max-w-[350px] h-[56px] portrait:sm:h-[64px] landscape:lg:h-[64px] text-lg portrait:sm:text-xl landscape:lg:text-xl font-medium text-white bg-blue-500 border border-blue-500 rounded-[4px] lg:hover:opacity-50 active:opacity-50;
  }

  .modalButtonWhite {
    @apply w-full max-w-[350px] h-[56px] portrait:sm:h-[64px] landscape:lg:h-[64px] text-lg portrait:sm:text-xl landscape:lg:text-xl font-medium text-gray-700 bg-white border border-gray-700 rounded-[4px] lg:hover:opacity-50 active:opacity-50;
  }

  .modalButtonNoBorder {
    @apply w-full text-lg portrait:sm:text-xl landscape:lg:text-xl font-medium text-gray-700 active:opacity-50;
  }

  .introWidth {
    @apply portrait:w-[88%] landscape:w-[600px] portrait:sm:w-[590px] landscape:lg:w-[630px] portrait:lg:w-[630px] landscape:lg:desktop:w-[540px];
  }

  .introWidthHowTo {
    @apply w-[88%] landscape:lg:w-[630px] portrait:lg:w-[630px];
  }

  .introPageContainer {
    @apply w-full h-full flex flex-col items-center;
  }

  .introTextContainer1 {
    @apply flex-1 introWidth py-4 flex flex-col items-center;
  }

  .introTextContainer2 {
    @apply my-auto;
  }

  .introButtonContainer {
    @apply flex-none pt-4 w-[85%] landscape:lg:w-[630px] portrait:lg:w-[630px] portrait:h-[116px] landscape:h-[100px] portrait:sm:h-[160px] landscape:lg:h-[160px] flex justify-between;
  }

  .introNext {
    @apply mr-2 w-[110px] h-[60px] portrait:sm:w-[140px] portrait:sm:h-[72px] landscape:lg:w-[140px] landscape:lg:h-[72px] landscape:desktop:xl:w-[110px] landscape:desktop:xl:h-[60px] text-xl portrait:sm:text-3xl landscape:lg:text-3xl landscape:desktop:xl:text-2xl font-medium text-white bg-blue-500 border-2 border-blue-500 active:opacity-50 lg:hover:opacity-50 rounded-[4px];
  }

  .introBack {
    @apply ml-2 w-[110px] h-[60px] portrait:sm:w-[140px] portrait:sm:h-[72px] landscape:lg:w-[140px] landscape:lg:h-[72px] landscape:desktop:xl:w-[110px] landscape:desktop:xl:h-[60px] text-xl portrait:sm:text-3xl landscape:lg:text-3xl landscape:desktop:xl:text-2xl font-medium text-gray-400 bg-white border-2 border-gray-400 active:opacity-50 lg:hover:opacity-50 rounded-[4px];
  }

  .introTooltip {
    @apply text-lg portrait:sm:text-2xl landscape:lg:text-2xl portrait:sm:leading-relaxed landscape:lg:leading-relaxed invisible group-hover:visible absolute px-4 py-3 portrait:sm:px-6 portrait:sm:py-3 landscape:lg:px-6 landscape:lg:py-3 font-normal bg-gray-800 text-white rounded-lg z-[1];
  }

  .introFontHowTo {
    @apply portrait:text-xl landscape:text-xl portrait:sm:text-2xl landscape:lg:text-2xl portrait:lg:text-3xl landscape:xl:text-3xl portrait:leading-relaxed landscape:leading-normal portrait:sm:leading-relaxed landscape:lg:leading-relaxed portrait:lg:leading-relaxed landscape:xl:leading-relaxed;
  }

  .introFontButton {
    @apply;
  }

  .introFontXl {
    @apply text-xl portrait:sm:text-2xl landscape:lg:text-3xl portrait:lg:text-3xl landscape:xl:text-3xl portrait:sm:leading-relaxed landscape:lg:leading-relaxed portrait:lg:leading-relaxed landscape:xl:leading-relaxed;
  }

  .introFont2xl {
    @apply text-2xl portrait:sm:text-3xl landscape:lg:text-3xl leading-relaxed landscape:lg:leading-relaxed portrait:sm:leading-relaxed;
  }

  .introFont3xl {
    @apply portrait:text-3xl landscape:text-2xl portrait:sm:text-4xl landscape:lg:text-4xl landscape:lg:desktop:text-3xl portrait:leading-relaxed landscape:lg:leading-[56px] portrait:sm:leading-[56px] landscape:lg:desktop:leading-relaxed;
  }

  .introFontXl2 {
    @apply text-xl portrait:sm:text-3xl landscape:lg:text-3xl portrait:lg:text-4xl landscape:xl:text-4xl portrait:sm:leading-relaxed landscape:lg:leading-relaxed portrait:lg:leading-relaxed landscape:xl:leading-relaxed;
  }

  /* ----UNUSED---- */
  .startHeader {
    @apply w-[calc(100%-55px)] xs:w-[250px] flex-none sm:w-auto sm:flex text-2xl leading-tight font-bold;
  }

  .startStepChip {
    @apply text-lg sm:text-2xl px-3 py-0.5 mr-2 md:mr-3 font-bold text-white bg-orange-500 rounded-md;
  }

  .startStart {
    @apply sm:ml-4 md:ml-8 text-lg bg-blue-500 hover:bg-blue-700 cursor-pointer rounded-md font-bold text-white px-4 py-2;
  }

  .startTime {
    @apply absolute md:static md:ml-1 left-[3px] sm:left-[20px] text-center md:text-start w-[68px] bottom-[-15px] text-sm leading-none md:text-base md:leading-none;
  }

  .startStartNow {
    @apply bg-blue-500 hover:bg-blue-700 py-1.5 px-3 rounded-md text-white font-bold cursor-pointer;
  }

  .gradientButton {
    @apply text-white bg-gradient-to-l from-blue-700 from-20% via-pink-500 to-yellow-300 to-100% rounded-3xl hover:text-blue-400 animate-textTwo;
  }

  .gradientButtonSmall {
    @apply text-xs md:text-sm text-white bg-gradient-to-l from-blue-700 from-20% via-pink-500 to-yellow-300 to-100% rounded-lg px-2 py-0 hover:text-black animate-textTwo;
  }

  .appButton {
    @apply h-[56px] xs:h-[44px] bg-blue-500 lg:hover:bg-blue-600 active:bg-blue-300 text-white font-bold rounded-full text-lg;
  }

  .buttonWhiteTextLg {
    @apply mb-2 py-3 active:bg-gray-200 rounded-full text-gray-500 bg-white border border-gray-200 drop-shadow-lg text-lg font-medium tracking-wide;
  }

  .cashoutContainer {
    @apply w-full min-h-[240px] portrait:sm:min-h-[260px] landscape:lg:min-h-[260px] flex flex-col justify-between px-6 portrait:sm:px-10 landscape:lg:px-10 py-4 portrait:sm:py-8 landscape:lg:py-8 rounded-xl bg-white border border-gray-400;
  }

  .cashoutContainerStats {
    @apply px-6 py-4 rounded-xl bg-white border border-gray-400;
  }

  .cashoutHeader {
    @apply text2xl font-bold;
  }

  .cashoutBalance {
    @apply text4xl mt-3 portrait:sm:mt-6 landscape:lg:mt-6 font-medium;
  }

  .cashoutDetails {
    @apply textLg leading-relaxed font-medium w-[160px] portrait:sm:w-[220px] landscape:lg:w-[220px] portrait:lg:w-[260px] landscape:xl:w-[260px] mb-6 overflow-hidden transition-all duration-500 relative;
  }

  .cashoutShow {
    @apply textSm2 link;
  }

  .cashoutStats {
    @apply textBase2;
  }

  .cashoutStats2 {
    @apply textSm2 font-medium text-center;
  }

  .cashoutButton {
    @apply textBase w-[220px] portrait:sm:w-[250px] landscape:lg:w-[250px] h-[44px] portrait:sm:h-[56px] landscape:lg:h-[56px] font-medium text-white bg-blue-500 active:opacity-50 rounded-full;
  }

  .cashoutTooltip {
    @apply invisible group-hover:visible absolute px-3 py-2 textXs leading-snug text-white bg-gray-700 rounded-lg z-[1];
  }

  .faqContainer {
    @apply border-t py-2 border-gray-300;
  }

  .faqModalBody {
    @apply ml-2 mt-2 text-base leading-snug xs:text-sm xs:leading-snug;
  }

  .faqQuestionFont {
    @apply textLg font-medium;
  }

  .faqLine1 {
    @apply absolute left-[8.5px] bottom-[3px] w-[2px] h-[16px] bg-blue-600 transition-all duration-500;
  }

  .faqLine2 {
    @apply rotate-90 absolute left-[8.5px] bottom-[3px] w-[2px] h-[16px] bg-blue-600;
  }
}

@layer utilities {
  .thinScroll::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
  .thinScroll::-webkit-scrollbar {
    width: 9px;
  }
  .thinScroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .flash {
    width: 28px;
    height: 55px;
    border: 3px solid black;
    background: white;
    clip-path: polygon(87% 0%, 52% 44%, 100% 44%, 13% 100%, 48% 56%, 0% 56%);
  }
}
